<div class="container-fliud">
  <app-eheader></app-eheader>
  <!-- <app-sidemenu></app-sidemenu> -->
  
  <div class="row">
      <div class="col-sm-8 col-md-8 col-lg-8 col-xs-12" id="left">
        <div class="row">
          <div class="col-sm-12 contentleft">
              <div class="row">
                  <div class="col-sm-12 box_show">
                    <div class="row">
                      <div class="col-sm-12">
                        <span class="dte_pic">
                          <input type="text" [(ngModel)]="event" bsDatepicker [bsConfig]="datepickerConfig"/>
                        </span>
                      </div>
                    </div> 
                    <div class="row">
                       <div class="col-sm-12" style="padding:15px 10%">
                         <h2>Title(optional) bs-datepicker.config.d.ts</h2>
                         <br>
                       </div>
                       <br><br><br>
                      <div class="callout" style="margin-left:20px; ">
                        <a href="#"><div class="bubble">
                            +
                        </div>
                      <div class="triRight"></div></a>
                      </div>
                      <div class="text_controler" style="top:130px;left:42px;z-index: 99999;display:block">
                        <ul class="edt_clr">
                          <li><i class="fa fa-pencil" aria-hidden="true"></i><br><br>Text</li>
                          <li><i class="fa fa-camera" aria-hidden="true"></i><br><br>Camera</li>
                          <li><i class="fa fa-video-camera" aria-hidden="true"></i><br><br>Video</li>
                          <li><i class="fa fa-file-pdf-o" aria-hidden="true"></i><br><br>PDF</li>    
                        </ul>
                      </div>
                     </div>
                     <div class="row">
                      <div class="col-sm-12" style="padding:15px 15%">
                        <div class="text_et">
                            <!-- <pre>{{typing result}}</pre> -->
                            <span style="position:absolute;top:0;right:20px;"><span class="edt_cls">Edit</span><span class="edt_cls"><i class="fa fa-close"></i></span></span>
                        </div>
                        <div class="txt_area"  style="display:  block;">
                          <text-editor [elementId]="'post-body'"(onEditorkeyup)="onBodyTextEditorkeyUp($event)"></text-editor>
                          <button class="cus_btn">Done</button>
                        </div>
                        <div class="photo1">
                          <span style="cursor:pointer"><img class="upper_right" src="assets/images/ico_close_neg_shadow.png" /></span>
                          <img class="img-responsive" style="height:300px; margin: 0 auto;" src="assets/images/pp.jpg" />
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
          </div>
        </div>
      </div>   
      <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12 pddr" id="right" style="background: #f1f5f9;">
         <div class="stry_prf" id="textbox" style="cursor:pointer;">
            <span><img class="user_image" src="assets/images/avata"/>
              <!-- <div class="user_image_letter">SG</div> --></span>
            <span style="padding-top:10px;">&#x25BC;</span>
         </div>
         <br>
         <div class="col-sm-12">
           <div class="row">
             <div class="col-sm-12">
                <div class="lrn_notes" id="textbox">
                    <span style="font-size:18px;">Learning tags</span>
                    <span (click)="Clickpopup()" style="color:#fe9200;cursor:pointer;">New tag</span>
                </div>
             </div>
           </div>
           <div class="row" style="border-bottom:1px solid #ccc;padding-bottom:20px;margin-bottom: 10px;">
             <div class="col-sm-12">
                <div class="no_cnt">
                    No learning tags selected for this story.
                 </div>
                 <span class="hide_learn">
                    colloboration &nbsp;&nbsp; 
                    <img style="width:25px;height:25px;cursor:pointer;" src="assets/images/ico_close_neg_shadow.png">
                 </span>
                 <br>
             </div>
           </div>
           <div class="row">
             <div class="col-sm-12">
                <div class="ser_lern">
                    <span style="font-size:18px;">Select tags</span>
                </div>
                <br>
                <select>
                  <option>All learning tags</option>
                  <option>Family</option>
                </select>
             </div>
           </div>
           <br>
           <div class="row">
             <div class="col-sm-12">
                <input type="text"  id="sp_lst_srch"  placeholder="Search"  value=""/>
             </div>
           </div>
           <br>
           <div class="row">
             <div class="col-sm-12">
                <ul class="ler_tab">
                  <li>colloboration</li>
                  <li>Communication</li>
                  <li>Identity</li>
                </ul>
             </div>
           </div>
           <br><br><br>
         </div>
      </div>
  </div>

  <!-- <popup  (confirmClick)="YourConfirmEvent()" >evawfvwafvwafvawfwaygfv</popup> -->
</div>
<!--popup -->
<div class="popup1" id="overlay" style="display:none;">
  <div class="container">
      <div class="card1">
         <div class="row">
           <div class="col-sm-12">
             <h3>New tag</h3>
           </div>
         </div>
         <br>
         <div class="row" style="margin-bottom:20px;">
          <div class="col-sm-4 int">
            Name
          </div>
          <div class="col-sm-8">
            <input type="text" />
          </div>
        </div>
          <div class="row" style="margin-bottom:20px;">
            <div class="col-sm-4 int">
              Descrition(Optional)
            </div>
            <div class="col-sm-8">
              <textarea> </textarea>
            </div>
        </div>
        <div class="row">
          <div class="col-sm-6"></div>
          <div class="col-sm-3">
            <input type="button" class="input_submit background_white" value="Close" (click)="Clickclose()">
          </div>
          <div class="col-sm-3">
            <input type="button" class="input_submit background_orange" value="Save">
          </div>
        </div>
      </div>
    </div>
</div>
<!--popup -->

