input[type="text"]:focus,input[type="number"]:focus,input[type="date"]:focus, input[type="email"]:focus, input[type="password"]:focus, textarea:focus, select:focus{
    font-style:normal;
    border:1px solid #0e4d92;
    background:#FFF;
    padding-left:10px;
}
input[type="text"],textarea, select{
    width: 100%;
    font-size: 1em;
    border: solid 1px #cccccc;
    border-radius: 4px;
    background: #FFFFFF;
    height: 40px;
    padding: 3px;
    color: #495C69;
    padding-left: 10px;
}
textarea {
    resize: none;
 }
 #textbox {
    display: flex;
    justify-content: space-between;
}
.postbutton{
    width:100%;
    padding: 5px 10px;
    color:#fff;
    background: #648da0;
    border-radius:2px;
    border:1px solid #292f45;

}
a[bubbletooltip]:link, a[bubbletooltip]:visited
{
        text-decoration: none;
        position: relative;
        color :#648da0;
}

a[bubbletooltip]:before
{
        content: "";
        position: absolute;
        border-bottom: 26px solid #292f45;
        border-left: 26px solid transparent;
        border-right: 26px solid transparent;
        visibility: hidden;
        bottom: -21px;
        left: -12px;
        font-size:12px;
        
}

a[bubbletooltip]:after
{
        position: absolute;
        content: attr(bubbletooltip);
        font-weight:bold;
        bottom: -35px;
        left: -26px;
        white-space: nowrap;
        background: #292f45;
        color: #FFFFFF;
        padding: 5px 10px;
        -moz-border-radius: 6px;
        -webkit-border-radius:6px;
        -khtml-border-radius:6px;
        border-radius: 6px;
        visibility: hidden;
        font-size:12px;
        
}

a[bubbletooltip]:hover:before, a[bubbletooltip]:hover:after
{
        visibility: visible;
        -moz-transition: visibility 0s linear .3s;
}
.uploadfile{
    border: 1px solid #ccc;
    width:100%;
    height:100px;
}

