<div class="row">
  <div class="col-sm-12">
    <ul class="nav nav-tabs">
      <li><a data-toggle="tab" href="#home"></a></li>
      <li class="active" ><a data-toggle="tab" href="#menu1">Conversation</a></li>
      <li><a data-toggle="tab" href="#menu2">Community post</a></li>
      <li><a data-toggle="tab" href="#menu3">Child note</a></li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
      <div class="tab-content" >
        <div id="menu1" class="tab-pane fade in active" style="padding: 20px;">
          <div class="row">
            <div class="col-sm-12">
              <input type="text" value="select people to start a Conversation with.." >
              <br><br>
              <textarea placeholder="Ask questions, share feedback etc." style="height:100px"  ></textarea>
            </div>
          </div>
          <div class="row" style="display:block;">
            <div class="col-sm-12">
                <div class="uploadfile" id="textbox" style="padding-top:10px;margin-bottom: 10px;">
                  <div class="col-sm-8">
                    <input type="text" />
                    <br><br>
                    <span>You can edit this filename</span>
                  </div>
                  <div class="col-sm-4">
                      <span style="float:right;cursor: pointer;">Delete</span>
                  </div>
                </div>
            </div>
          </div>
          <div class="row" style="display:block;">
              <div class="col-sm-12">
                  <div id="panel" class="img-responsive">
                      <a id="close" href="#"></a>
                  </div>
              </div>
          </div>
          <br><br>
          <div class="row">
            <div class="col-sm-12" id="textbox">
                <div style="padding-top:20px;">
                    <span style="font-size:18px;font-weight: 600;">
                        <a href="#" bubbletooltip="Attach a file i.e. PDF OR Word Doc"><i class="fa fa-paperclip fa-fw" aria-hidden="true"></i> </a>
                    </span>
                    <span style="font-size:18px;font-weight: 600;padding-left:20px;">
                        <a href="#" bubbletooltip="Upload an image"><i class="fa fa-camera fa-fw" aria-hidden="true"></i></a>
                    </span>
                    <span style="font-size:18px;font-weight: 600;padding-left:20px;">
                        <a href="#" bubbletooltip="Upload a video"><i class="fa fa-video-camera fa-fw" aria-hidden="true"></i></a>
                    </span>
                </div>
                <div>
                    <input type="button" value="Post" class="input_submit background_white" style="padding:3px 15px;">
                </div>
            </div>
          </div>
        </div>
        <div id="menu2" class="tab-pane fade" style="padding: 20px;">
          <div class="row">
            <div class="col-sm-12">
              <input type="text" value="select community" >
              <br><br>
              <textarea placeholder="Share with the parents and teacher in yourselected community" style="height:100px"  ></textarea>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
                <div class="uploadfile" id="textbox" style="padding-top:10px;margin-bottom: 10px;">
                  <div class="col-sm-8">
                    <input type="text" />
                    <br><br>
                    <span>You can edit this filename</span>
                  </div>
                  <div class="col-sm-4">
                      <span style="float:right;cursor: pointer;">Delete</span>
                  </div>
                </div>
            </div>
          </div>
          <div class="row">
              <div class="col-sm-12">
                  <div id="panel" class="img-responsive">
                      <a id="close" href="#"></a>
                  </div>
              </div>
          </div>
          <br><br>
          <div class="row">
            <div class="col-sm-12" id="textbox">
                <div style="padding-top:20px;">
                    <span style="font-size:18px;font-weight: 600;">
                        <a href="#" bubbletooltip="Attach a file i.e. PDF OR Word Doc"><i class="fa fa-paperclip fa-fw" aria-hidden="true"></i> </a>
                    </span>
                    <span style="font-size:18px;font-weight: 600;padding-left:20px;">
                        <a href="#" bubbletooltip="Upload an image"><i class="fa fa-camera fa-fw" aria-hidden="true"></i></a>
                    </span>
                    <span style="font-size:18px;font-weight: 600;padding-left:20px;">
                        <a href="#" bubbletooltip="Upload a video"><i class="fa fa-video-camera fa-fw" aria-hidden="true"></i></a>
                    </span>
                </div>
                <div>
                    <input type="button" value="Post" class="input_submit background_white" style="padding:3px 15px;">
                </div>
            </div>
          </div>
        </div>
        <div id="menu3" class="tab-pane fade" style="padding: 20px;">
          <div class="row">
            <div class="col-sm-12">
              <input type="text" value="select child" >
              <br><br>
              <textarea placeholder="Privately share a note with a selected child's parents and teacher" style="height:100px"  ></textarea>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
                <div class="uploadfile" id="textbox" style="padding-top:10px;margin-bottom: 10px;">
                  <div class="col-sm-8">
                    <input type="text" />
                    <br><br>
                    <span>You can edit this filename</span>
                  </div>
                  <div class="col-sm-4">
                      <span style="float:right;cursor: pointer;">Delete</span>
                  </div>
                </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
                <div id="panel" class="img-responsive">
                    <a id="close" href="#"></a>
                </div>
            </div>
          </div>
          <br><br>
          <div class="row">
            <div class="col-sm-12" id="textbox">
                <div style="padding-top:20px;">
                    <span style="font-size:18px;font-weight: 600;">
                        <a href="#" bubbletooltip="Attach a file i.e. PDF OR Word Doc"><i class="fa fa-paperclip fa-fw" aria-hidden="true"></i> </a>
                    </span>
                    <span style="font-size:18px;font-weight: 600;padding-left:20px;">
                        <a href="#" bubbletooltip="Upload an image"><i class="fa fa-camera fa-fw" aria-hidden="true"></i></a>
                    </span>
                    <span style="font-size:18px;font-weight: 600;padding-left:20px;">
                        <a href="#" bubbletooltip="Upload a video"><i class="fa fa-video-camera fa-fw" aria-hidden="true"></i></a>
                    </span>
                </div>
                <div>
                    <input type="button" value="Post" class="input_submit background_white" style="padding:3px 15px;">
                </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>



