*{
    padding: 0px;
    margin:0px;
}

// #maindiv{
//     width:100%;
//     height:400px;
//     background-size:cover;
// }

#navdiv ul{
    width:100%;
    height:60px;
    background:#0e4d92;
    line-height: 60px;
    color:#fff;
    margin-right:15px;
    position: fixed;
    font-size:14px;
    font-weight: 500;
    z-index: 99999;
}
#navdiv ul a{
    text-decoration: none;
    color:#fff;
    padding: 20px;
}
#navdiv ul li{
    list-style-type: none;
    display:inline-block;
    float:right;
}
#navdiv ul li:hover{
    background: #8fb0bf;
    transition:all 0.40s;
}
#navdiv span{
    width:100px;
    float:left;
    cursor:pointer;
    padding-left: 10px;
}
#navdiv span:hover{
    background: #8fb0bf;
    transition:all 0.40s;
}
.active{
    background: #053448!important;
}
// sidebar css start
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    background-color: #0084A5;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 20px 32px;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.dashboard{
    width:100%;
    height: auto;
    padding: 8% 8%;
}
.conversation{
    width:100%;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3),0 0 0 1px rgba(0,0,0,0.08);
    border-radius:4px;
    background: #fff;
    padding-top: 15px;
    
}
.dropdown-toggle:active, .open .dropdown-toggle {
    background:#FFF !important; 
    color:#000 !important;
    width:100%;
}
#textbox {
    display: flex;
    justify-content: space-between;
}
.block {
   padding-top: 20px;
    text-align: center;
    vertical-align: middle;
}
.circle {
    background: #0084A5;
    border-radius: 200px;
    color: white;
    height: 60px;
    font-weight: bold;
    width: 60px;
    display: table;
    margin: 20px auto;
    font-size:20px;
}
.circle p {
    vertical-align: middle;
    display: table-cell;
}
.circle img {
    vertical-align: middle;
    display: table-cell;
}
.dropdown-toggle{
    text-decoration: none;
    color:#000;
    background: transparent;
}
.dropdown-toggle:active{
    background: transparent;
}
.dropdown-menu{
    min-width:130px;;
    padding: 10px 0px;
}
@media (max-width: 575px) {
    .con{
        display: none;
    }
}
.avatar {
    vertical-align: middle;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
