
<div id="maindiv">
  <!-- main nav bar start -->
   <div id="navdiv">
     <ul>
       <span style="font-size:20px;" class="menutoggle" (click)="openNav()">&#9776;Menu</span> 
         <li>
             <a routerLink="">&#9881;&#x25BC;</a> 
         </li>
         <li>
             <a routerLink="/editstory" class="active">Create Story</a>
         </li>
         <li id="con">
             <a routerLink="">Conversation</a>
         </li>
         <li>
             <a routerLink="">Invite</a>
         </li>
     </ul>
   </div>

   <!-- main nav bar end -->
   <!-- side nav bar start -->
     <div id="mySidenav" class="sidenav">
       <a class="closebtn" (click)="closeNav()">&times;</a>
       <a routerLink="">Latest activity</a>
       <a routerLink="">Draft Stories</a>
       <a routerLink="">Conversation</a>
       <a routerLink=""></a>
     </div>
   <!-- side nav bar end -->
     <div class="dashboard">
       <div class="row">
         <div class="col-sm-9 top_pd">
           <div class="row" id="textbox">
            <div class="col-sm-2 block">
                <div class="circle">
                  <!-- <p>SGB</p> -->
                  <img src="http://i.imgur.com/dsPfaSjs.jpg" alt="Avatar" class="avatar img-responsive">
                </div>
            </div>
             <div class="col-sm-10">
               <ul style="float:right;list-style-type: none;">
                 <li class="dropdown">
                     <a href="#" data-toggle="dropdown" class="dropdown-toggle"> Sort latest activity by: <b class="caret"></b></a>
                     <ul class="dropdown-menu">
                         <li><a href="#">Latest activity</a></li>
                         <li><a href="#">Date added</a></li>
                     </ul>
                 </li>
               </ul>
               <br><br>
               <div class="conversation">
                 <app-aconversation></app-aconversation>
               </div>
               <br>
               <div class="community">
                   <app-acommunity></app-acommunity>
               </div>
             </div>
           </div>
           </div>
         </div>
       </div>
     </div>
    
   
