#navdiv ul{
    width:100%;
    height:60px;
    background: #3b5998;
    line-height: 60px;
    color:#fff;
    margin-right:15px;
    position: fixed;
    font-size:14px;
    font-weight: 500;
    z-index: 99999;
    border-bottom: 1px solid #133783;

}
#navdiv ul a{
    text-decoration: none;
    color:#fff;
    padding: 20px;
}
#navdiv ul li{
    list-style-type: none;
    display:inline-block;
    float:right;
}
#navdiv ul li:hover{
    background: #8fb0bf;
    transition:all 0.40s;
}
#navdiv span{
    width:100px;
    float:left;
    cursor:pointer;
    padding-left: 10px;
}
#navdiv span:hover{
    background: #8fb0bf;
    transition:all 0.40s;
}
.active{
    background: #053448!important;
}
#navdiv .center-block{
    text-align:center;
}