<div id="navdiv">
  <ul>
    <span style="font-size:20px;" class="menutoggle" (click)="openNav()">&#9776;Menu</span> 
    <li>
      <a routerLink="/home">Publish</a> 
    </li>
    <li class="con">
      <a routerLink="">Save and Exit</a>
    </li>
    <li>
      <a routerLink="">Delete</a>
    </li>    
  </ul>
</div>
<span style="position:absolute;left: 0%;right: 0%;text-align:center;color:#fff;z-index: 99999;padding: 15px;font-size:20px;">New Story</span>
