<div class="row">
  <div class="col-sm-12">
    <div class="contnts">
    <div class="community">
      <div class="com_head" id="textbox" style="padding-bottom: 10px;">
        <p><a href="" style="text-decoration: none;"><i class="fa fa-users" aria-hidden="true" style="color:#fe9200;"></i><span style="font-size:16px;color:#fe9200;font-weight: bold;padding-left: 5px;">Community Post</span></a>
        <span style="font-size:12px;"> Added by KU Westmead Preschool .... </span></p>
        <span class="dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle"><b class="caret" style="border-width:8px;"></b></a>
            <ul class="dropdown-menu dropdown-menu-right" style="margin-top:-10px;">
                <li><a href="#">Date added</a></li>
            </ul>
        </span>
      </div>
      <div class="annocementinput">
          <span><i class="fa fa-bullhorn" aria-hidden="true"></i>Announcement!</span>
      </div>
      <div class="description" style="padding:10px;">
        <a routerLink="/preview" style="text-decoration:none;color:#000;">
        Description is the pattern of narrative development that aims to make vivid a place, 
          an object, a character, or a group. Description is one of four rhetorical modes, 
          along with exposition, argumentation, and narration.
        </a> 
      </div>
      <div class="d_pdf" id="textbox">
        <span>basu.pdf(446KB)</span><span style="cursor:pointer;"><i class="fa fa-download" aria-hidden="true"></i></span>
      </div>
    </div>
    <div class="commentsarea">
        <div class="u_n">
          <a href="">View 18 more comments</a> 
        </div>
        <div class="u_ser" style="border-bottom:1px solid #ccc;">
        <table style="width:100%;margin: 10px;">
            <tr style="margin-bottom:10px;">
                <td style="width:10%;" valign="top">
                <img class="user_image" src="assets/images/pp.jpg"/>
                <!-- <div class="user_image_letter">SG</div> -->
                </td>
                <td>
                    <span style="font-size:14px;">Basavakumar</span><span style="padding-left:10px;font-size:10px;">9 hours ago</span>
                    <br>
                    <span>Congz.....</span>
                </td>
            </tr>
        </table>
      </div>
      <div class="typecomment">
        <textarea  rows="1" cols="10" placeholder="Write a comment..."></textarea>
      </div>
      <div class="row">
          <div class="col-sm-12">
              <div id="panel" class="img-responsive">
                  <a id="close" href="#"></a>
              </div>
          </div>
      </div>
      <div class="divpost" id="textbox">
          <span style="width:60px;border-right:1px solid #ccc;text-align: center;padding-top:5px;cursor:pointer;" title="upload images"><i class="fa fa-camera" aria-hidden="true"></i></span>
          <span><button type="button" class="btn btn-secondary">Post</button></span>
      </div>
    </div>
  </div>
  </div>
</div>
