.contnts{
    width:100%;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3),0 0 0 1px rgba(0,0,0,0.08);
    border-radius:4px;
}
.community{
    background: #fff;
    padding: 5px 10px;
}
.annocementinput{
    border:1px solid #fff099;
    width:100%;
    background: #fffad6;
    color:#d39c29;
    border-radius: 2px;
    padding: 10px;
}
.commentsarea{
    background: #d1eef5;
    padding: 5px 10px;
}
.u_n{
    border-bottom:1px solid #ccc;
    padding: 10px;
}
.user_image{
    width: 42px;
    height: 42px;
    border: 1px solid #bdbdbd;
    border-radius: 100%;
}
.user_image_letter{
    font-size:26px;
    width:42px;
    height:42px;
    text-align: center;
    background:#ccc;
    color:#fff;
    border:1px solid #bdbdbd;
    border-radius: 100%;
}
textarea {
    height: 35px;
    width:100%;
    padding: 3px;
    transition: all 0.5s ease;
}

textarea:focus {
    height: 90px;
}
.divpost{
    border:1px solid #bdbdbd;
    margin-top:-10px;
    padding: 10px;
    background: #fff;
    border-bottom-left-radius: 2px;border-bottom-right-radius: 2px;
    width:100%;
}
.d_pdf{
    border:1px solid #bdbdbd;
    width:100%;
    background: #bdbdbd;
    color:#fe9200;
    border-radius: 2px;
    padding: 10px;
}